.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    padding: 1rem;
}

.header > img {
    width: 50px;
}

.header > h1 {
    margin-left: 0.5rem;
}